// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import 'foundation';
@include foundation-everything;

.sign-block {
  padding: 10% 0 5%;
}

.title-block {
  background: url("/images/bg.jpg");
  color: whitesmoke;
  * {
    color: whitesmoke;
  }
  h1 {
    text-transform: capitalize;
  }
}